/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*   GENERAL   */
li {
  list-style: none;
}
.overlay-image {
  position: relative;
  width: 100%;
}
.overlay-image .hover {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: .5s ease;
}
.hover:hover {
  opacity: 1;
}
/*   HEADER Vers. phone   */
header {
 position: fixed;
 display: flex;
 flex-direction: row;
 width: 100%;
 z-index: 3;
 justify-content: space-between;
 border-bottom: 1px solid lightgrey;
 background-color: white;
}
.iconMenu {
  width: 35px;
  height: 35px;
  margin: 5px;
}
header>ul {
  display: none;
}
header>a>img {
  width: 150px;
}
header>div>p, .shop {
  display: none;
}
.basket {
  width: 50px;
}
/*   Contents of home page   */
.center /* 50 */{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
}
   /* Advertising of sales */

div.pub>img {
  display: block;
  margin: auto;
  padding: 0 5% 5% 5%;
  width: 90%;
}
.beforeTitle {
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  background-color: #E7E7E7;
  width: 70px;
  margin: 0 5%;
  padding: 5px;
  font: 12px "Trebuchet MS", Arial, sans-serif;
}
.title {
  margin-left: 5%;
  font: 24px Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: #444
}
.afterTitle {
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #444;
  width: 65px;
  margin: 5%;
  padding: 10px;
  font: 15px Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: white;
}

   /* Goods for sale */
.pairs {
  width: 40%;
  margin: 0 5%;
}
.socks {
  width: 100%;
}
.typeAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: 12px "Trebuchet MS", Arial, sans-serif;
}
.color {
  text-align: center;
  font: italic 14px Georgia, Times, "Times New Roman", serif;
  color: #444;
  margin-top: -10px;
  padding: 0 0 20px;
  border-bottom: solid 1px lightgrey;
  box-shadow: 0 3px 5px lightgrey;
}
div.sizes>p {
border: 1px solid #444;
border-radius: 5px;
background-color: #444;
font: 12px Georgia, Times, "Times New Roman", serif;
text-align: center;
color: white;
}
div.sizes>.size {
  display: none;
}


/*   FOOTER Vers. phone   */

footer {
  padding: 5% 5% 0;
}
   /*   Articles   */
h1 {
  text-align: center;
  font: 30px Georgia, Times, "Times New Roman", serif;
  color: #444;
  padding-top: 22px;
  border-top: solid 1px lightgrey;
}
h2 {
  text-align: left;
  font: 24px Georgia, Times, "Times New Roman", serif;
  color: #444;
  padding-top: 22px;
}
.textFooter {
  text-align: left;
  font: 16px Georgia, Times, "Times New Roman", serif;
  color: #777;
}

   /*   Icons   */
.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cockAndTitle, .returnsAndTitle, .payementAndTitle, .deliveryAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 7%;
  width: 35%;
}
.iconsImage {
  width: 100%;
}
h5 {
  font: italic 16px Georgia, Times, "Times New Roman", serif;
  color: #777;
  text-align: center;
}

   /*   Contacts   */
.contact {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  padding-bottom: 50px;
  width: 100%;
  background-color: #F5F5F5;
  text-align: center;
  font: 16px Georgia, Times, "Times New Roman", serif;
  color: #777;
}
.footerLogo {
  padding: 50px 3% 0;
  max-width: 250px;
}
.infoSite {
  display: none;
}
div.followUs>h3 {
  font-size: 24px;
  color: #444;
}
div.followUs>p {
  font-size: 14px;
}
div.followUs>input {
  width: 90%;
  max-width: 350px;
  font-style: italic;
}
div.followUs>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 25px;
}
div.followUs>div>img {
  width: 20%;
  max-width: 50px;
}
div.infoSiteMobile>h3 {
  font-size: 24px;
  color: #444;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 720px) {
    /* Style adjustments for viewports that meet the condition */
    /* CENTER */
    .pub {
      width: 40%;
    }
    .pairs {
      width: 20%;
    }
    /* Footer Paragraphs */
    .undertextFooter {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .size15-46, .frenchSocks {
      margin: 10px;
      width: 45%;
    }
    /* Footer Icons */
    .cockAndTitle, .returnsAndTitle, .payementAndTitle, .deliveryAndTitle {
      width: 15%;
      margin: 0 5%;
    }
    /* Footer infoSite */
    .infoSite {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      font-style: Georgia,Times,"Times New Roman",serif;
    }
    div.infoSite>div {
      margin: 0 3%;
      width: 25%;
    }
    div.infoSite>div>h3 {
      font-size: 30px;
      font-weight: 500;
      color: #444;
    }
    div.infoSite>div>h4 {
      font-size: 16px;
      font-weight: 500;
      color: #8C8C8C;
    }
    .infoSiteMobile {
      display: none;
    }
}

@media only screen and (min-width: 1020px) {
  /* CENTER */
  .pub {
    width: 30%;
  }
  .pairs {
    margin: 2%;
    width: 13%;
  }
  /* Footer Paragraphs */
  .undertextFooter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .sandalOrTights {
    margin: 10px;
    width: 45%;
  }
  /* Footer Icons */
  .cockAndTitle, .returnsAndTitle, .payementAndTitle, .deliveryAndTitle {
    width: 15%;
    margin: 0 5%;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
